.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.completed {
    text-decoration: line-through;
}

#root {
  margin: 10px
}

.datepicker {
  display: inline-block;
  margin: 0px 5px;
}

.datepicker input {
  width: 65px;
}

.delete-button {

  width: 40px;
}